/*Для примера установим цвет фона, чтобы видеть размер изображения, если оно не загрузится*/
img{
    background: var(--img-bg-size, coral);
    margin-bottom: 2rem;
}

/* Убираем отступы в браузерах по умолчанию */
figure{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.type-1 img{
    display: block;
    /*
        Если ставим width: 100%, то изображения меньшего размера растягиваются и портится качество
    */
    max-width: 100%;
    /*
        По идее это должно решить проблему, что при resize картинки высота также изменяется, но это не решает проблему, если картинка не загрузилась
    */
    height: auto;
    /*
        для aspect-ratio
        При установке box-sizing: content-box + padding ломается подсчет aspect-ratio
        https://www.quirksmode.org/blog/archives/2021/05/aspectratio.html
     */
    box-sizing: border-box;
    /*
        Если не ставить aspect-ratio, то если изображение есть отложенная загрузка изображения, или изображение не загружается, то оно по умолчанию будет строкой, а при загрузке снова произойдет CLS
    */
    aspect-ratio: 800/ 600
}







