.container{
    width: 1024px;
    max-width: 100%;
    margin: 0 auto;
}

body{
    font-size: 18px;
    font-family: -apple-system,Arial,BlinkMacSystemFont,roboto slab,droid serif,segoe ui,Ubuntu,Cantarell,Georgia,sans-serif;
    line-height: 1.5rem;
    word-break: break-word;
}

